.select__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  #selectIngredient {
    width: 150px;
    background-color: #3282f7;

    .button {
      display: flex;
      justify-content: space-between;
    }
  }

  #selectUstensils {
    background-color: #ed6454;
  }

  #selectAppliances {
    background-color:
      #68d9a4;
  }

  .select {
    width: auto;
    margin: 1em 1em 0 0;
    //  condition pour gérer la couleur

    padding: 1em;
    border-radius: 10px;
    color: white;
    cursor: pointer;

    input {
      background: transparent;
      border: none;
    }

    :focus {
      outline: none;
      background: transparent;
      color: white;
      overflow: hidden;
    }

    ::placeholder {
      color: white;
      font-size: 16px;
    }

    & .arrow {
      display: inline-block;
      transition: transform 0.3s ease-in-out;
    }

    .arrow.active {
      transform: rotate(180deg);
    }

    &__list {
      cursor: pointer;
      max-height: 20rem;
      height: auto;
      overflow-y: scroll;
      color: white;
    }
  }
}